.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    height: 100vh;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #16bae8;
    border-radius: 15px;
    width: 400px;
    height: 520px;
  }
  .heading-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .para-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff9f9;
    width: 60px;
    height: 60px;
    border-radius: 45px;
    margin-right: 15px;
  }
  .s {
    color: #000000;
    font-size: large;
  }
  .name-para {
    color: #fffafa;
    font-size: 20px;
  }
  .money-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -20px;
  }
  .balance-name {
    color: #fffafa;
    font-size: 18px;
    align-self: center;
  }
  
  .amount {
    color: #f5f4f4;
    font-size: 28px;
  }
  .rupees {
    color: #ffffff;
    font-size: 12px;
    align-self: flex-end;
    margin-right: 10px;
  }
  .withdraw {
    color: #fffafa;
    font-size: 20px;
  }
  .choose {
    color: #ffffff;
    font-size: 12px;
  }
  .items-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-left: -40px;
  }

  .btn {
    background-color: #515050;
    border-color: #c4c4c4;
    border-width: 1px;
    border-radius: 5px;
    color: #c4c4c4;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
  }

  .btn:hover{
    color: #fff9f9;
    background-color: #060505 ;
  }