.Authentication {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: floralwhite;
    background-size: cover;
    background-position: right;
}

.main {
    width: 350px;
    background-color: #161618ee;
    height: 550px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

.user-box {
    position: relative;
    width: 80%;
    margin: 0px auto;
}

.authBtn {
    width: 60%;
    height: 40px;
    margin:5px auto;
    justify-content: center;
    display: block;
    color: #f3eaea;
    background: #0a0a0a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.login {
    height: 470px;
    background: #b4b4b8;
    border-radius: 64% / 7%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

#chk:checked~.login {
    transform: translateY(-540px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.signup .sig {
    transform: scale(.6);
    margin-top: 10px;
}

.user-box label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 13px;
    color: #868686;
    pointer-events: none;
    transition: .5s;
}

.user-box input {
    padding: 10px 0;
    width: 100%;
    font-size: 13px;
    color: #eee3e3;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #3b3737;
    outline: none;
    background: transparent;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -17px;
    left: 0;
    color: #e7e7e5;
    font-size: 12px;
    font-weight: bold;
}

label[for="chk"] {
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.sig {
    color: #fff;
    margin: 40px;
}

.log {
    margin: 80px;
}

.login label,
.login input {
    color: #0c0b0b;
}